//
//  barra di navigazione
//
[[navbar]]
********
// posizione svg
// posizione svg
image:{base}risorse/immagini/mark-github.svg["Titolo"]
link:https://github.com/tizziano[tizziano su GitHub]
//link:https://tizziano.github.io/mastroPiano[mastroPiano]
//link:mastroPiano[mastroPiano]
//link:blink/blink.html[Blink...]
********
